.container-done {
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	border: 2px solid var(--verde);
	cursor: pointer;
}

.container-done.active {
	background-color: var(--verde);
}

li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.btn-delete {
	background-color: var(--rojo);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-delete:hover {
	background-color: var(--rojo-hover);
}